@font-face {
	font-family: letra1;
	src: url(fuentes/LetraHeader.ttf);
	
}
@font-face{
	font-family: letra2;
	src: url(fuentes/letraSeccion3.ttf)
}

body {
	background-color: #f1ebeb ;
	font-family: arial,sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
	
	
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #9ca894;
	padding: 20px;

}

.logo {
	display: flex;
	padding-left: 50px;
	
}


nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {

	display: inline-block;
	margin-right: 10px;
}

nav ul li a {
	font-family: letra1, sans-serif;
	font-size: 30px;
	font-variant: small-caps;
	text-decoration: none;
	color: #363837;
	font-weight: normal;
	padding: 5px 10px;
}

nav ul li a:hover{
	background-color: #555;
	color: #fff;
	border-radius: 5px;
}

.seccion-content {
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 60px;
	padding-left: 50px;

		  
}

.seccion-content img {
	border-radius: 200px;
	border: solid #9ca894 5px;
	margin-top: 30px;
	}
.seccion-txt {
	display: inline-block ;
	padding: 0px 20px 0px 100px;
}
.seccion-txt h1{	
	font-variant: small-caps;
	font-size: 50px;
	text-align: center;
	color:#363837 ;
	font-family: letra1, sans-serif;
}
.seccion-txt p {
	text-align: justify;
	color: #363837;
	word-spacing: 5px;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 20px;
	
}



.seccion2 {
	margin-top: 80px;
	padding-top: 60px;
	padding-left:60px;

}
.seccion2 h2 {
	color: #eab5a5;
	text-align: left;
}
.seccion2 h3 {
	color: #eab5a5 ;

}
.seccion2-content{
	display: flex;
	align-items: center;
	padding-top: 20px;
  	padding-left:50px;
	padding-right: 50px;
	  

}
.seccion2-content1{
	text-align: justify;
	word-spacing: 5px;
	padding-right: 30px;
	padding-bottom: 0px;
	

}
.seccion2-content2{
	text-align: justify;
	word-spacing: 5px;
	padding-right: 30px;
	padding-left: 30px;

}
.seccion2-content3{
	text-align: justify;
	word-spacing: 5px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 20px;
	
}

.seccion2-content hr {
	border: none;
	width: 1px;
	border-right: 2px solid #eab5a5 ;
	height: 250px;

}

.seccion3-content {
	display: flex;
	justify-content: space-between;
	padding-left: 60px ;
	padding-right: 100px;
	padding-bottom: 50px;
	background-color: #ced6c9;
	border-radius: 20px;
	margin-top: 100px;

}


.seccion3-content h1 {
	font-family: letra1, sans-serif;
	font-size: 50px;
	font-variant: small-caps;
	color:#363837 ;
}	
.seccion3-content1 {
	padding-left: 100px;

}

.seccion3-content1 h2 {
	font-family: letra2;
	font-size: 40px;
	letter-spacing: 5px;
}

.seccion3-content2 {
	padding-right: 50px;
	padding-left: 30px ;
	padding-top: 100px;
}
.seccion3-content2 h4{
	padding-left: 80px;
}

.seccion3-content2 p {
	padding-left: 80px;
	text-align: justify;
	width: 30%;
	font-size: 15px;
}
.seccion3-content3{
	padding-left: 30px;
	padding-bottom: 30px;
}

.seccion3-lista ul li{
	margin-left: 60px;


	font-size: 15px;
}

.seccion3-content4 img{
	margin-top: 200px ;
	border-radius: 200px;
	border: solid 5px #9ca894 ;
}

.seccion4{
	padding-top: 100px;
	margin-left: 60px;
	padding-right: 50px;
}

	
.seccion4 div {
	display: flex;
	justify-content: space-between;
	
}
.seccion4-content h1 {
	font-family: letra1;
	font-size: 30px;
}

.seccion4-content1 {
	flex-direction: column;
	margin: 50px;
}
.seccion4-content1 img{
	width: 250px;
	height: 250px;
	border: solid 5px #9ca894 ;
	border-radius: 200px;

}
.seccion4-content1 h3{
text-align: center;
font-family: letra1;
}
.seccion4-content1 button{
margin-left: 75px;}

.seccion4-content2 {
	flex-direction: column;
	margin: 50px;
}
.seccion4-content2 img{
	width: 250px;
	height: 250px;
	border: solid 5px #9ca894 ;
	border-radius: 200px;
}
.seccion4-content2 h3{
	text-align: center;
	font-family: letra1;
	}
	.seccion4-content2 button{
	margin-left: 75px;
}
a{
	text-decoration: none;
	font-size: large;
	color: #363837;
	font-weight: bold;
}

button {	
	border-radius: 5px;
	width: 40%;
	border: 3px solid #9ca894;
}

button:hover{
	background-color: rgba(128, 129, 126, 0.678);
}
a:hover{
	color: white;
}

.pie-pagina{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: #fff;
	padding: 20px;
}


.pie-pagina p{
	bottom: 0%;
	right: 1%;
	font-size: 12px;
	padding-top: 100px;
	position: absolute;
}
.agrupacion1{
	display: flex;
	align-items: center;
	padding: 10px;
}
.social{
	padding-left: 30px;
	padding-right: 30px;
}

.agrupacion1 img{
	border-radius: 200px;
}
.contacto p{
	font-size: 15px;
	padding: 0px;
	position: relative;
}
.maps iframe{
	border-radius: 10px;
	border: solid 5px #9ca894 ;
}

